{{!
    This file is part of Moodle - http://moodle.mt-2 text-center/
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_urise/table
    Template which defines a mooduell view page.
    Classes required for JS:
    * none
    Data attributes required for JS:
    * none
    Context variables required for this template:
    * statistics - array: An array with values.
    * opengames - array: empty array, will be filled with JS.
    * finishedgames - array: empty array, will be filled with JS.
    * highscores - array: empty array, will be filled with JS.

    Example context (json):
    {
       "listheaderclass" : "listheaderclass",
       "cardheaderclass" : "cardheaderclass",
       "cardfooterclass" : "cardfooterclass",
       "cardimageclass" : "cardimageclass",
       "cardheader": [
            "columnclass" : "columnclass",
            "columnkeyclass" : "columnkeyclass",
            "key" : "columnname",
            "keystring" : "localized column name",
            "columnvalueclass" : "columnvalueclass"
            "value" : "value"
       ],
       "cardbody": [
            "columnclass" : "columnclass",
            "columnkeyclass" : "columnkeyclass",
            "key" : "columnname",
            "keystring" : "localized column name",
            "columnvalueclass" : "columnvalueclass"
            "value" : "value"
       ],
       "cardfooter": [
            "columnclass" : "columnclass",
            "columnkeyclass" : "columnkeyclass",
            "key" : "columnname",
            "keystring" : "localized column name",
            "columnvalueclass" : "columnvalueclass"
            "value" : "value"
       ],
       "cardimage": [
            "value" : "value"
       ]
    }
}}

<div class="mod-booking-card d-flex flex-column list-group-item wunderbyteTableJavascript search-data-element p-0 justify-content-start mod-booking-row"
{{#datafields}}
    data-{{key}}="{{value}}"
{{/datafields}}
>
  <div class="{{cardimageclass}}">
     {{#url}}
      {{#value}}
        <a href="{{{value}}}" class="stretched-link"></a>
          {{/value}}
      {{/url}}
    {{#cardimage}}
      {{#value}}
        <img class="w-100" src="{{{value}}}" {{#cardimagealt}}alt="{{.}}" title="{{.}}"{{/cardimagealt}}>
      {{/value}}
        {{^value}}
            <div class="placeholderimage">
            <div class="m-3 d-flex justify-conten-center align-items-center flex-column">
              <i class="fa-regular fa-image placeholdericon"></i>
              <h4 class="pt-2" >
                {{#str}} optionnoimage, mod_booking {{/str}}
              </h4>
              </div>
            </div>
        {{/value}}
    {{/cardimage}}
  </div>
  <div class="d-flex flex-column flex-grow-1" style="z-index: 99">
    <div class="mod-booking-card-header mt-4 row w-100 mx-auto d-flex align-items-center mt-1 px-2">
      {{#cardheader}}
        {{#columnclass}}<div class="{{.}}{{#key}} {{key}}{{/key}}">{{/columnclass}}
              <span {{^value}} style="display:none" {{/value}}>
              {{#columniclassbefore}}
                <i class="{{.}}" aria-hidden="true"></i>
              {{/columniclassbefore}}
              </span>
              {{#columnkeyclass}}<span class="key {{.}}">{{/columnkeyclass}}
                {{^keystring}}
              {{{key}}}
              {{/keystring}}
              {{#keystring}}
                {{.}}:
              {{/keystring}}
              {{#columnkeyclass}}</span>{{/columnkeyclass}}
              <div {{^value}} style="display:none" {{/value}} class="{{columnvalueclass}}{{#key}} {{key}}{{/key}}">
                {{{value}}}
              </div>
              <span {{^value}} style="display:none" {{/value}}>
              {{#columniclassafter}}
                <i class="value {{.}}" aria-hidden="true"></i>
              {{/columniclassafter}}
              </span>
        {{#columnclass}}</div>{{/columnclass}}
      {{/cardheader}}
    </div>
    <div class="mod-booking-card-body {{cardbodyclass}} px-2 mt-2">
    {{#cardbody}}
      {{#columnclass}}<div class="{{.}}{{#key}} {{key}}{{/key}}">{{/columnclass}}
            <span {{^value}} style="display:none" {{/value}}>
            {{#columniclassbefore}}
              <i class="{{.}}" aria-hidden="true"></i>
            {{/columniclassbefore}}
            </span>
            {{#columnkeyclass}}<span class="key {{.}}">{{/columnkeyclass}}
              {{^keystring}}
              {{{key}}}
            {{/keystring}}
            {{#keystring}}
              {{.}}:
            {{/keystring}}
            {{#columnkeyclass}}</span>{{/columnkeyclass}}

              <span {{^value}} style="display:none" {{/value}} class="{{columnvalueclass}}{{#key}} {{key}}{{/key}}">
                {{{value}}}
              </span>

            <span {{^value}} style="display:none" {{/value}}>
            {{#columniclassafter}}
              <i class="value {{.}}" aria-hidden="true"></i>
            {{/columniclassafter}}
            </span>
      {{#columnclass}}</div>{{/columnclass}}
    {{/cardbody}}
  </div>
  <div class="mod-booking-card-infos mt-2 px-2">
    <div class="{{cardlistclass}}">
      <ul class="infolist">
      {{#cardlist}}
        <li class="d-flex mt-2" {{#columnalt}}title="{{.}}"{{/columnalt}}>
        {{#columnclass}}<div class="{{.}}{{#key}} {{key}}{{/key}}">{{/columnclass}}
              <span {{^value}} style="display:none" {{/value}}>
              {{#columniclassbefore}}
                <i class="{{.}}" aria-hidden="true"></i>
              {{/columniclassbefore}}
              </span>
              {{#columnkeyclass}}<span class="key {{.}}">{{/columnkeyclass}}
                {{^keystring}}
              {{{key}}}
              {{/keystring}}
              {{#keystring}}
                {{.}}:
              {{/keystring}}
              {{#columnkeyclass}}</span>{{/columnkeyclass}}
              <span {{^value}} style="display:none" {{/value}} class="{{columnvalueclass}}{{#key}} {{key}}{{/key}}">
                {{{value}}}
              </span>
              <span {{^value}} style="display:none" {{/value}}>
              {{#columniclassafter}}
                <i class="value {{.}}" aria-hidden="true"></i>
              {{/columniclassafter}}
              </span>
        {{#columnclass}}</div>{{/columnclass}}
        </li>
      {{/cardlist}}
      </ul>
    </div>
  </div>
  <div class="mod-booking-card-footer px-3 text-center mt-auto mb-2 pt-2">
    {{#cardfooter}}
      {{#columnclass}}<div class="{{.}}{{#key}} {{key}}{{/key}}">{{/columnclass}}
            <span {{^value}} style="display:none" {{/value}}>
            {{#columniclassbefore}}
              <i class="{{.}}" aria-hidden="true"></i>
            {{/columniclassbefore}}
            </span>
            {{#columnkeyclass}}<span class="key {{.}}">{{/columnkeyclass}}
              {{^keystring}}
            {{{key}}}
            {{/keystring}}
            {{#keystring}}
              {{.}}:
            {{/keystring}}
            {{#columnkeyclass}}</span>{{/columnkeyclass}}
            <div {{^value}} style="display:none" {{/value}} class="{{columnvalueclass}}{{#key}} {{key}}{{/key}}">
              {{{value}}}
            </div>
            <span {{^value}} style="display:none" {{/value}}>
            {{#columniclassafter}}
              <i class="value {{.}}" aria-hidden="true"></i>
            {{/columniclassafter}}
            </span>
      {{#columnclass}}</div>{{/columnclass}}
    {{/cardfooter}}
  </div>
  </div>
</div>
{{^norecords}}
{{#js}}
  require(['local_urise/easyavailabilitymodal'], function(fn) {
    fn.init(
      '{{#optionid}}{{#value}}{{{value}}}{{/value}}{{/optionid}}',
      'a.editavailability[data-optionid="{{#optionid}}{{#value}}{{{.}}}{{/value}}{{/optionid}}"]',
      '{{#str}} editavailabilityanddescription, local_urise {{/str}}',
    );
  });
{{/js}}
{{/norecords}}
