<div class="urisecalendarcard">
<span class="topspan">
    {{#header}}
    {{#columnclass}}<span class="{{.}} {{key}}">{{/columnclass}}
        {{{value}}}
    {{#columnclass}}</span>{{/columnclass}}
    {{/header}}
</span>
{{#main}}
<div class="pt-2">
{{#columnclass}}<div class="{{.}} {{key}}">{{/columnclass}}
    {{{value}}}
{{#columnclass}}</div>{{/columnclass}}
</div>
{{/main}}
</div>