<div class="urisecalendarcard">
<span class="topspan">20.06.2014</span>
{{#main}}
<div class="pt-2">
{{#columnclass}}<div class="{{.}} {{key}}">{{/columnclass}}
    {{{value}}}
{{#columnclass}}</div>{{/columnclass}}
</div>
{{/main}}
</div>