     {{#table}}
<div class="row mt-4">
  <div class="col-md-4 d-flex justify-content-center align-items-center">
      Calendar
  </div>
  <div class="col-md-8 d-flex flex-wrap" >
  {{#rows}}
    <div class="col-md-6 mb-3">
    {{> local_urise/urise_calendar_entry }}
    </div>
  {{/rows}}
  </div>
</div>
     {{/table}}